<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Login</h3>
              </div>
              <div class="card-body">
                <div class="text-danger my-2" [hidden]="isLoginFailed">
                  {{ errorMessage }}
                </div>
                <form
                  #loginForm="ngForm"
                  (ngSubmit)="loginForm.form.valid && onConnexion()"
                >
                  <div class="form-floating mb-3">
                    <input
                      #login="ngModel"
                      required
                      name="login"
                      [(ngModel)]="user.login"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          login.invalid && (login.dirty || login.touched),
                        'is-valid':
                          login.valid && (login.dirty || login.touched)
                      }"
                      id="inputEmail"
                      type="email"
                      placeholder="name@example.com"
                    />
                    <label for="inputEmail">Email address</label>
                  </div>
                  <div class="text-danger" *ngIf="login.errors && login.dirty">
                    Le Login est Obligatoire
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      required
                      minlength="4"
                      maxlength="10"
                      #password="ngModel"
                      name="password"
                      [ngClass]="{
                        'is-invalid':
                          password.invalid &&
                          (password.dirty || password.touched),
                        'is-valid':
                          password.valid && (password.dirty || password.touched)
                      }"
                      [(ngModel)]="user.password"
                      class="form-control"
                      id="inputPassword"
                      type="password"
                      placeholder="Password"
                    />
                    <label for="inputPassword">Password</label>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="password.errors && password.dirty"
                  >
                    <span *ngIf="password.errors['required']"
                      >Le Mot de Passe est Obligatoire</span
                    >
                    <span *ngIf="password.errors['minlength']"
                      >Le mot de passe doit contenir au moins 4 caracteres
                    </span>
                  </div>
                  <div
                    class="d-flex align-items-center justify-content-between mt-4 mb-0"
                  >
                    <a class="small" href="#"></a>
                    <button
                      [disabled]="loginForm.form.invalid"
                      type="submit"
                      class="btn btn-primary"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
