<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">{{ productDetail.product.categorie }}</div>
        <h1 class="display-5 fw-bolder">{{ productDetail.product.libelle }}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through"
            >${{ productDetail.product.oldPrice }}</span
          >
          <span>${{ productDetail.product.newPrice }}</span>
        </div>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi
          alias magni, accusamus eius blanditiis delectus ipsam minima ea iste
          laborum vero?
        </p>
        <div class="d-flex">
          <input
            (keyup)="onValideQte(qte.value)"
            #qte
            class="form-control text-center me-3"
            [ngClass]="isDisabled ? 'is-invalid' : 'is-valid'"
            id="inputQuantity"
            type="num"
            value="1"
            style="max-width: 5rem"
          />
          <button
          (click)="onAddPanier()"
            class="btn btn-outline-dark flex-shrink-0"
            type="button"
            [disabled]="isDisabled"
          >
            <i class="bi-cart-fill me-1"></i>
            Ajouter Panier
          </button>
        </div>
        <div *ngIf="isDisabled" class="text-danger mt-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Produits Similaires</h2>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <ism-product-item
        (loadView)="onLoadView($event)"
        [product]="p"
        *ngFor="let p of productDetail.products"
      ></ism-product-item>
    </div>
  </div>
</section>
